<h1 class="heading">{PAGE_TITLE}</h1>
<div class="container-width">
    <table width="100%" border="1">
            <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
            <tr>
                <td align="center">{}</td>
                <td align="center">{}</td>
                <td align="center">{}</td>
                <td align="center">{}</td>
                <td align="center">{}</td>
                <td align="center">{}</td>
                <td align="center">{}</td>
            </tr>
    </table>
</div>